/* @override http://localhost:8000/media/css/master.css */

/*	WdeB
breadandpepper.com
................................... */

@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);


/*	Main elements
................................... */

html, body{
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
    background: #eae5e1 url(../img/bg-container.png) repeat-y center top;
}

#container{
    width: 1006px;
    margin: 30px auto 50px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
	background-color: #f6f4f2;
	border: 1px solid #fff;
	padding: 0 10px;
}

#top{
    height: 30px;
    background-color: #111;
    border-bottom: 1px solid #fff;
}


#content-container{
    padding: 11px;
    position: relative;
}
#header{
    height: 130px;
    margin: -2px 0 0 0;
    padding: 0 13px;
    position: relative;
}

#nav{
    position: absolute;
    right: 12px;
    top: 48px;
    overflow: auto;

}

#nav li{
    float: left;
    margin: 0 0 0 10px ;
    border-width: 1px; 
    border-style: solid; 
    border-color: #eee #eee #fff #eee ; 
    -webkit-border-radius: 11px; 
    -moz-border-radius: 11px; 
    border-radius: 11px;
    -webkit-background-clip: padding-box;
}

#nav li a{ 
    background: #ede9e4; 
    float: left; 
    padding: 4px 4px 3px; 
    text-decoration: none; 
    outline: 0; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-background-clip: padding-box;
}

#nav li a span { 
    display: block; 
    color: #686868; 
    padding: 0.52em 1.6em 0.48em;  
    text-shadow: rgba(255,254,255,0.45) 0 1px 0; 
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 3px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(1.0, rgba(255,255,255,0.15)), color-stop(1.0, rgba(255,255,255,0.01)), to(transparent)); 
    background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 100%, rgba(255,255,255,0.01) 100%, transparent);
    -webkit-background-clip: padding-box;
    text-decoration: none;
    font-size: .8em;
    line-height: 1.4em;
    font-weight: bold;
}

#nav li a:hover span {
    background-color: #e0dfda;
}

#nav li a:active span {  
    background-color: #e0dfda;
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 1px;
    padding: 0.58em 1.6em 0.30em;
    line-height: 1.5em;
}

#nav li a span:active { 

}

#intro{
    padding: 30px 20px;
    min-height: 290px;
    background: #e7e2de no-repeat 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
   position: relative;
   overflow: hidden;
}


#xtra-info{
    text-align: center;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    text-shadow: #000 -1px -1px 0;
    color: #c1bcb9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	background-image: url(../img/trans.png);
	-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
 -moz-box-shadow: 0 -2px 3px #ccc;
    -webkit-box-shadow: 0 -2px 3px #ccc;
    box-shadow: 0 -2px 3px #ccc;
}

#xtra-info a{
	color: #fff;
}


#footer{
    /* background: url(../img/stripe.png) repeat-x center top;*/
    border-top: 1px solid #fff;
    margin: 40px 12px 0;

    padding: 20px 0;
}

.white-box{
    margin: 15px auto 20px;
    padding: 12px 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #efebe8;
    width: 506px;
    -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow:  inset 0 0 3px #999;
    overflow: auto;
}

#details{
    width: 140px;
    margin: 0 0;
    background-color: #fffeff;
    padding: 6px;
    text-align: left;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    overflow: hidden;
}

#details img{
	margin: 0 0 10px;
}

#try{
    position: absolute;
    height: 90px;
    width: 124px;
    right: -150px;
    top: 90px;
    background: url(../img/try.png) no-repeat;
}

/*	Type
................................... */

h1, h2, h3, h4, h5, h6 { font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif; text-transform: uppercase; text-shadow: #ffffff 1px 1px 0px;}

p{
    font-size: 0.9em;
    line-height: 1.5em;
    color: #444;
    margin: 0 0 0.9em 0;
    text-shadow: #ffffff 1px 1px 0;
}

p.intro{
	margin: 0 20px 0 380px;
}

.white-box p{
    margin: 0 12px 5px;
    color: #000;
}

h1{
    margin: 25px 0 0 ;
    font-size: 2.2em;
}

h2.content-title{
	font-size: 1.5em;
	margin: 10px;
    padding: 15px 15px 12px;	
    background: #e7e2de no-repeat 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
    color: #ab292a;
}

h2.intro{
    font-size: 1.8em;
    margin: 10px 20px 9px 380px;
    padding: 0 0 5px;
    background: url(../img/stripe.png) repeat-x 0 bottom;
}

h2 span{
    font-size: 1.8em;
    color: #ac1500;
}

.white-box h2{
    width: 482px;
    padding: 5px 12px 6px;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #f1edeb;
    color: #ab292a;
    background-image: none;
}

h3{
    font-size: 1.2em;
    margin: 0 0 5px;
}


h4{
    font-size: 1.2em;
}

h5{
    font-size: 1.0em;
}

h6{
    font-size: 0.7em;
}

a{
    color: #880e00;
    text-decoration: underline;
}

a.button{ 
    background: #ede9e4; 
	display: block;
	width: 200px;
    padding: 4px 4px 3px; 
    text-decoration: none; 
    outline: 0; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    clear: both;
    position: absolute;
    right: 20px;
    top: -55px;
}

a.button span { 
    display: block; 
    color: #8b0908; 
    padding: 0.52em 1.6em 0.48em;  
    text-shadow: rgba(255,254,255,0.45) 0 1px 0; 
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 3px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(1.0, rgba(255,255,255,0.15)), color-stop(1.0, rgba(255,255,255,0.01)), to(transparent)); 
    background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 100%, rgba(255,255,255,0.01) 100%, transparent);
    -webkit-background-clip: padding-box;
    text-decoration: none;
    font-size: .9em;
    line-height: 1.4em;
    font-weight: bold;
	text-align: center;
}



a.button:active span {  
    background-color: #e0dfda;
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 1px;
    padding: 0.58em 1.6em 0.30em;
    line-height: 1.5em;
}

a#fork{
    position: fixed;
    top: -2px;
    right: -2px;
    width: 136px;
    height: 138px;
    display: block;
    text-indent: -9999px;
    background-image: url(../img/forkme.png);
}

.white-box img{
    float: right;
    border: 3px double #f1edeb;
    padding: 4px;
    background-color: #fff;
    margin: 0 10px;
}

/* submit-button red */
#submit-button {	
	padding: 0 50px;
    min-width: 80px;
    background-color: #ab292a;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
    text-decoration: none;
	
}

/*	Forms
................................... */

form {
    margin: 15px auto 20px;
    padding: 12px 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 500px;

}

form p {
    padding: 4px 0 4px;
    margin: 0 0 0 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    font-size: 0.7em;
    color: #999;
}

form p label {
    width: 160px;
    padding: 10px 20px 0 0;
    float: left;
    display: block;
    font-weight: bold;
    font-size: 0.9em;
    color: #444;
    text-align: right;
}

form p.checkbox {
    border: none;
}

form p.checkbox label {
    width: inherit;
    float: none;
    text-align: left;
    padding: 0 0 0 175px;
}

span.label {
    color: #111;
    font-weight: bold;
}

input[type=text],input[type=password], input[type=file], textarea, span.editable {
    width: 306px;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 6px;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: none;
    float: right;
}

input[type=checkbox] {
    padding: 14px 0;
    width: 20px;
}

input[type=radio] {
    margin: 0 8px 0 0;
}

select {
    min-width: 60px;
    margin: 10px 2px 0;
}

input:focus,
textarea:focus,
span.editable:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #4c4c4c;
}

textarea {
    height: 4em;
    margin: 10px 0;
}

input[type=submit] {
    height: 35px;
    float: right;
    line-height: 34px;
    padding: 0 10px;
    margin: 4px 0 0 180px;
    min-width: 150px;
    background-color: #ab292a;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}

input[type=submit]:hover {
    color: #f9f9f9;
    cursor: pointer;
}

input[type=submit]:active {
    line-height: 36px;
    background-color: #bd302d;
    line-height: 36px;
    border: 1px inset #ce3024;
}

#signin input[type=checkbox] {
    display: block;
    float: left;
    padding: 0;
    margin: 3px;
    width: 10px;
}

ul.errorlist {
    border: 1px solid #a3181c;
    background-color: #fedae0;
    color: #a3181c;
    margin: 5px 0 3px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

ul.errorlist li {
    font-size: 0.7em;
    padding: 5px 5px 4px 5px;
    font-weight: bold;
}

legend {
    width: 500px;
    padding: 5px 0 6px 0;
    font-size: 1.3em;
    color: #ab292a;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
	text-transform: uppercase;
}

fieldset {
    margin: 0 0 20px 0;
}

p.forgot-password{
    padding: 10px 0 10px 180px;
    margin: 30px 0 10px;
    border-bottom: 1px solid #f1edeb;
    border-top: 1px solid #f1edeb;
}

/*	Nav
................................... */

#header h1{
    width: 150px;
    height: 112px;
    margin: 0;
}

#header h1 a{
    width: 150px;
    height: 112px;
    display: block;
    text-indent: -9999px;
    background: url(../img/logo2.png) center top;
}

#header h1 a:hover{
    background: url(../img/logo2.png) center bottom;
}


ul#profile-nav{
    height: 40px;
    position: absolute;
    right: 25px;
    top: -47px;
    width: 240px;   
}

ul#profile-nav li{
    margin: 0 0 0 0;
    float: left;
    text-align: center;
}

ul#profile-nav li.selected a{
    color: #111;
    padding: 8px 25px 8px;
    text-decoration: none;
	background-color: #f6f4f2;
	-moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-box-shadow: 0 -1px 1px #ccc;
    -webkit-box-shadow: 0 -1px 1px #ccc;
    box-shadow:  0 -1px 1px #ccc;
    border: 1px solid #fff;
    border-bottom: none;
}



ul#profile-nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    display: block;
    height: 20px;
    line-height: 25px;
    padding: 8px 25px 8px;
    color: #999997;
	text-align: center;
}


ul#profile-nav li a:hover{
    text-decoration: underline;
}

/*	features
................................... */

ul.features {
    overflow: auto;
    margin: 30px -12px 0;
}



ul.features li{
    background: url(../img/stripe.png) repeat-x center top;
    padding: 30px 10px 0 0;
    float: left;
    width: 310px;
    margin: 10px 0 0 12px;
    min-height: 180px;
}   

/*	blocks
................................... */
ul.blocks {
    overflow: auto;
    margin: 40px -12px 0;
}



ul.blocks li{
    background: url(../img/stripe.png) repeat-x center top;
    padding: 30px 0 0;
    float: left;
    width: 237px;
    margin: 10px 0 0 12px;
    text-align: center;
}

#browse{
    width: 128px;
    height: 128px;
    display: block;
    text-indent: -9999px;
    background-image: url(../img/icon-browse.png);
    margin: 20px auto;
}

#download{
    width: 128px;
    height: 128px;
    display: block;
    text-indent: -9999px;
    background-image: url(../img/icon-download.png);
    margin: 20px auto;
}

#docs{
    width: 128px;
    height: 128px;
    display: block;
    text-indent: -9999px;
    background-image: url(../img/icon-docs.png);
    margin: 20px auto;
}

#demo{
    width: 128px;
    height: 128px;
    display: block;
    text-indent: -9999px;
    background-image: url(../img/icon-demo.png);
    margin: 20px auto;
}      


/*	footer
................................... */ 

   

#footer p{
    text-align: center;
    font-size: 0.7em;
}   

#footer p a{
	font-weight: bold;
}

/*	change language
................................... */ 
div#lang_form {
    width: 1008px;
    margin: 0 auto;
    position: relative;
}

div#lang_form p {
    margin: 0;
    padding: 0 0 0 3px;
    font-size: small;
}

div#lang_form select{
    margin: 5px 0 0 ;
}

div#lang_form form {
    position: absolute;
    right: 10px;
    margin: 1px;
    padding: 0;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    background-color: transparent;
    width: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div#lang_form form label{
    color: #676767;
    font-size: 0.7em;
    font-weight: bold;
}


div#lang_form input[type=submit] {
    float: right;
    height: 21px;
    line-height: 34px;
    padding: 0 10px;
    margin: 5px 0 0 10px;
    min-width: 80px;
    background-color: none;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}


/*	notifications
................................... */

ul.messages{
    position: absolute;
    font-size: 0.8em;
    font-weight: bold;
    width: 540px;
    left: 50%;
    top: 4px;
    margin: 0 0 0 -270px;
}

ul.messages li{
    background-color: #fcf5d8;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 4px 20px;
    text-align: center;

}


/*	messages
................................... */  

#messages{
	padding: 0;
	margin: 20px 0 0;
}

#messages li{
	padding: 15px 10px;
	margin: 0;
	overflow: auto;
}  

#messages li a{
	font-weight: bold;
	display: block;
	margin: 0 0 5px;
	text-decoration: none;
}

#messages.list-view a{
	display: block;
	overflow: auto;
	padding: 10px 0 10px 10px;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
border-radius: 2px;
}

#messages.list-view a:hover{
	background-color: #eee;
}


p.date {
  font-size: 70%;
  margin: 10px 0 0;
  color: #777;
}

.avatar {
  width: 80px;
  border: 1px solid #ccc;
  float: right;
  margin: 0 10px;
}

.avatar.received {
  float: left;
}

.message-content{
	
	margin: 0 110px;
	padding: 15px;
	-moz-border-radius: 2px;
border-radius: 2px;
position: relative;
min-height: 52px;
}

.send .message-content{
	margin: 0 110px;
	background-color: #e6e6e6;
	
}

.received .message-content{
	margin:0 110px;
	background-color: #dadada;
	
}



/*	account list
................................... */    

#account_list{
    margin: 0 0 0 -12px;
    overflow: auto;
}

#account_list li{
    width: 142px;
    margin: 0 0 12px 12px;
    float: left;
    background-color: #fffeff;
    padding: 6px;
    text-align: center;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
}

#account_list li img{
    width: 142px;
    height: 142px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
} 

#account_list li a{
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}

#change-email {
    margin-left: 0;
}

#change-email {
    margin-left: 200px;
}


.redirect a{
    position: absolute;
    height: 33px;
    line-height: 34px;
    margin-top: 4px;
    padding: 0 10px;
    min-width: 80px;
    background-color: #ab292a;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
    text-decoration: none;
}



/*	events
................................... */    
#event-list {
	/*min-height: 220px;*/
	background: #e7e2de no-repeat 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
	overflow: hidden;
	/*padding: 10px 5px;    
   	position: relative;
   	padding-bottom: 50px;*/
}

#event-logo {
    width: 200px;
    height: 200px;    
    margin: 10px;    
    float: left;    
}

#event-name {
	width: 737px;
	height: auto;
	float: left;
	height: auto;
	font-size: 20px;	
    padding: 0px 10px 2px 5px;
    margin-top: 10px;
    border-bottom: 2px solid #ab292a;
    text-transform: uppercase; 
    text-shadow: #ffffff 1px 1px 0px;       
}

#event-name a {
	text-decoration: none;
}

#event-name a:hover {
	text-decoration: none;
	font-weight: bold;
}

#event-date {
	width: 747px;
	height: auto;
	float: left;
	font-size: 12px;
	padding: 2px 0px 0px 5px;	
}

p.event-list {
	width: 747px;
	height: auto;
	margin: 10px 0px 0px 5px;		
	float: left;
	text-align: justify;	
}

/*
#event-list h2 {
	width: 742px;
	font-size: 12px;
	line-height: 1.4;
	background: gray;
}

h2.event-list{
    font-size: 1.8em;
    margin: 10px 20px 9px 230px;
    padding: 0 0 5px;
    background: url(../img/stripe.png) repeat-x 0 bottom;
	text-decoration: none;
}*/

#event-go-web {
	width: 100%;	
	height: auto;
	float: left;
	margin-bottom: -13px;	
}

#event-go {
    width: 130px;
    text-align: left;    
    font-weight: bold;
    padding: 2px 0px 2px 10px;  
    text-shadow: #000 -1px -1px 0;
    color: #c1bcb9;    
    float: left;   
}

#event-go a {
	color: #fff;
	text-decoration: none;
}

#event-go a:hover {	
	text-decoration: underline;
}

#event-website {
    text-align: right;    
    padding: 2px 10px 2px 0px;    
    font-weight: bold;
    text-shadow: #000 -1px -1px 0;
    color: #c1bcb9;        
    background-image: url(../img/trans.png);
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-box-shadow: 0 -2px 3px #ccc;
    -webkit-box-shadow: 0 -2px 3px #ccc;
    box-shadow: 0 -2px 3px #ccc;
}

#event-website a{
	color: #fff;
}

/*	activities
................................... */
#activity_list {    	
    min-height: 117px;
    max-width: 270px;
    background: #e7e2de no-repeat 90px 30px;    
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;   
    overflow: hidden;
    margin-left: 34px;        
}

ul.activity {	
	width: 100%;	
    overflow: auto;    
    margin: 0 10px 15px 0;
    display: inline-block;
}

ul.activity li {
    float: left;
    width: 250px;
    margin: 8px 0px 0px 10px;        
    text-align: center;
}

#activity-name {
	font-size: 16px;
	font-weight: bold;
	color: #ab292a;
    text-transform: uppercase; 
    text-shadow: #ffffff 1px 1px 0px;	
}

#activity-date {	
	font-size: 12px;
	margin: 2px 0 10px 0;
}

.activity-status {
	font-size: 18px;
	font-weight: bold;
}

/*h2.activity {
    font-size: 0.8em;    
    background: url(../img/stripe.png) repeat-x center bottom;
    background: red;        
}*/

#inscrever a {
    height: 33px;
    line-height: 34px;    
    margin: 5px 30px 8px 30px;
    padding: 0 50px;
    min-width: 80px;
    background-color: #ab292a;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
    text-decoration: none;
}

/*	activity register
................................... */
#activity-register-form {
	width: 100%;	
}

#activity-register-title {
	font-size: 16px;
	font-weight: bold;
    text-transform: uppercase; 
    text-shadow: #ffffff 1px 1px 0px;	
	padding: 5px 0px 2px 5px;
	border-bottom: 2px solid #ab292a;
}

.tlb_activity_fields_wrapper
{  
  margin: 10px 0 0 0;    
  width: 100%;  
  text-align: left;
  font-size: 12px;
  border-bottom: 1px solid #e7e2de;
}

.af-label {    
  line-height: 26px;
  padding-left: 5px;
  margin-right: 4px;
  font-weight: bold;
  float: left;  
}

.af-txt {
  width: auto;
  height: auto;  
  float: left;  
}

.af-help {  
  padding: 5px 0 0 5px;
  font-size: 11px;
}

.af-error {  
  padding: 5px 0 0 5px;  
}

.submit_button-align {
  width: 150px;
  float: right;  
  margin-left: 2px;
}
/* submit-button red - desinscrever */

/*
#submit-button-desinscrever a{
    width: 150px;
    float: right;  
    margin-left: 2px;
    background-color: #ab292a;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
    text-decoration: none;
} */

.submit-button-desinscrever a{
    height: 33px;
    float: right;
    line-height: 34px;
    padding: 0 10px;
    margin: 4px 0 0 2px;
    min-width: 150px;
    background-color: #ab292a;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}

.submit-button-desinscrever:hover a{
    color: #fff;
    cursor: pointer;
}

.submit-button-desinscrever:active a{
    line-height: 36px;
    background-color: #bd302d;
    line-height: 36px;
    border: 1px inset #ce3024;
}

/*	activity details
................................... */
#activity-details-form {
	width: 100%;
	height: auto;
	border: 1px solid silver;
	margin: 0;
	padding: 0;
}

#activity-details-title {
	font-size: 16px;
	font-weight: bold;
    text-transform: uppercase; 
    text-shadow: #ffffff 1px 1px 0px;
    margin: 5px 5px 0 5px;	
	padding: 5px 0px 2px 5px;
	border-bottom: 2px solid #ab292a;
}

#activity-details-content p {
  margin: 0 10px 0 5px;		
  padding-left: 5px;    
  color: black;  
}

#activity_link p {    
  margin: -10px 0px 0 5px;
  padding: 0 0 10px 5px;     
  color: black;
  /*border-top: 1px solid #e7e2de;  */
}

#activity_link {        
  font-weight: bold;  
  text-decoration: underline;
  color: black;
}

#activity_link :hover {      
  font-weight: bold;  
  text-decoration: underline;
}
