#evento-wrapper {
	width: auto;
	height: auto;	
	margin: 10px 0px 5px 0px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999; 
    font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif; 
}
#evento-nome {
	width: auto;
	height: auto;
	font-size: 26px;	
    padding: 5px 10px 2px 5px;
    margin: 0px 5px 0px 5px;   
    border-bottom: 2px solid #ab292a;
    text-transform: uppercase; 
    text-shadow: #ffffff 1px 1px 0px;    
}
#evento-desc {
	width: auto;
	height: auto;	
    padding: 5px 10px 0px 10px;
}
#evento-desc p {
	margin: 0;
	padding: 0;
	text-align: justify;
    font-size: 0.9em;    
    color: #444;    
}
#link-evento {
	width: auto;
	height: auto;
	padding: 10px 10px 10px 10px;
	cursor: pointer;
	font-size: 12px;	
}

#link-evento a {
	text-decoration: none;
}

#link-evento a:hover {
	text-decoration: underline;
}
