{% extends "base.html" %}
{% block content %}
<div id="intro" style="background-image:url('/media/logo_1.png');">
	<h2 class="intro"><span>E-Meeting &#8211; &#201;vora 2012</span>
	<br/>
	Dias 12 e 13 de Maio</h2>
	<p class="intro">
		O E-Meeting &#8211; &#201;vora 2012 &#233; um evento inovador, organizado pela Associa&#231;&#227;o Acad&#233;mica da Universidade de &#201;vora, que vai realizar-se nos pr&#243;ximos dias 12 e 13 de Maio em &#201;vora, no Col&#233;gio do Espirito Santo.<br/><br/>
Este evento pretende juntar num s&#243; local a popula&#231;&#227;o jovem e empreendedora do nosso pa&#237;s com empresas e empres&#225;rios que possam ser poss&#237;veis investidores e concretizadores das suas ideias. A esta mistura de projectos de vanguarda com potencial de realiza&#231;&#227;o vamos aliar tamb&#233;m a procura de emprego e a possibilidade de job enterviews no momento, para que os jovens que procuram o emprego que sempre desejaram, possam considerar-se aptos a concorrer e a lutar pelos seus objectivos, aprendendo os melhores m&#233;todos e t&#233;cnicas a fim de ser bem-sucedidos.<br/><br/>
	</p>
	<p id="xtra-info">
		 <a href="/events/2/">Entrar</a> no evento. Contacto para <a href="mailto: e-meeting@aaue.pt" target="_blank">e-meeting@aaue.pt</a>. Mais informações <a href="http://e-meeting.aaue.pt" target="_blank">aqui</a>.
	</p>
</div><!-- /intro-->
<!--
<div id="evento-wrapper">
	<div id="evento-nome">
		nome evento
	</div>
	<div id="evento-desc">
		<p>
		descricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao 
		eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao 
		eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao 
		eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao 
		eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao eventodescricao
		</p> 		
	</div>
	<div id="link-evento">
		<a href="#">Pagina do evento</a>
	</div>
</div>-->
{% endblock %} 
