{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Falhou a ativação da conta." %}{% endblock %}
{% block content_title %}<h2>{% trans "Foi impossível ativar a sua conta de utilizador..." %}</h2>{% endblock %}

{% block content %}
<p>{% trans "Foi impossível ativar a sua conta de utilizador. Isto pode ter acontecido porque o link de ativação caducou." %}</p>
<p>{% trans "Por favor, efetue novamente o seu registo na plataforma ou contacte-nos se o erro persistir." %}</p>
{% endblock %}
