{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Conta desativada" %}{% endblock %}
{% block content_title %}<h2>{% trans "A sua conta foi desativada" %}</h2>{% endblock %}
{% block content %}
<p>{% trans "A sua conta foi desativada." %}</p>
<p>{% trans "Por favor, efetue novamente o seu registo na plataforma ou contacte-nos se o erro persistir." %}</p>
{% endblock %} 
