{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Verificação de endereço eletrónico" %}{% endblock %}
{% block content_title %}<h2>{% trans 'Confirme o seu email' %}</h2>{% endblock %}

{% block content %}
<p>{% blocktrans with viewed_user.userena_signup.email_unconfirmed as email %}Recebeu uma mensagem em {{ email }}.{% endblocktrans %}</p>
<p>{% blocktrans with viewed_user.username as username %}Para associar este endereço eletrónico com a sua conta de utilizador ({{ username }}) clique no link referido nessa mensagem eletrónica.{% endblocktrans %}</p>
{% endblock %}
