{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Endereço eletrónico modificado!" %}{% endblock %}

{% block content_title %}<h2>{% trans 'Novo endereço eletrónico' %}</h2>{% endblock %}
{% block content %}
<p>{% blocktrans with site.name as site %}O seu novo endereço eletrónico foi registado.{% endblocktrans %}</p>
{% endblock %}
