{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Confirmação de endereço eletrónico falhou." %}{% endblock %}
{% block content_title %}<h2>{% trans "Foi impossível validar o seu endereço eletrónico..." %}</h2>{% endblock %}

{% block content %}
<p>{% trans "Foi impossível validar o seu endereço eletrónico..." %}</p>
<p>{% trans "Pode altera-lo nas preferências da conta de utilizador." %}</p>
{% endblock %}
