{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Conta de utilizador &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post">
  <ul id="box-nav">
    <li class="first"><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'Ver perfil' %}</span></a></li>
    <li><a href="{% url userena_profile_edit user.username %}">{% trans "Editar perfil" %}</a></li>
    <li><a href="{% url userena_password_change user.username %}">{% trans "Modificar palavra-passe" %}</a></li>
    <li class="last selected"><a href="{% url userena_email_change user.username %}">{% trans "Modificar e-mail" %}</a></li>
  </ul>
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Modificar endereço eletrónico" %}</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Modificar email" %}" />
</form>
{% endblock %}
