{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Palavra-passe restabelecida" %}{% endblock %}
{% block content_title %}<h2>{% trans "A sua palavra-passe foi restabelecida" %}</h2>{% endblock %}
{% block content %}
{% url userena_signin as signin_url %}
{% blocktrans %}Agora pode <a href="{{ signin_url }}">entrar</a> com a nova palavra-passe.{% endblocktrans %}
{% endblock %}
