{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Palavra-passe alterada" %}{% endblock %}
{% block content_title %}<h2>{% trans "A sua palavra-passe foi alterada" %}.</h2>{% endblock %}

{% block content %}
<p>{% trans "Agora pode utilizar a nova palavra-passe para entrar" %}.</p>
{% endblock %}
