{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "O registo está quase terminado!" %}{% endblock %}

{% block content_title %}<h2>{% trans "Registo" %}</h2>{% endblock %}

{% block content %}
<p>{% trans "Obrigado por se registar na nossa plataforma!" %}</p>

{% if userena_activation_required %}
<p>{% blocktrans %}Foi enviado um e-mail com o link para ativar a sua conta de utilizador, caso não esteja na sua caixa de entrada, verifique o <i>spam</i>.{% endblocktrans %}</p>
<p>{% blocktrans %}A sua informação será mantida durante {{ userena_activation_days }} dias no nosso sistema, se não ativar a conta os seus dados serão eliminados automaticamente.{% endblocktrans %}</p>
{% else  %}
<p>{% blocktrans %}Utilize as suas credenciais para efetuar o login.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
