{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Sa&#237;da" %}{% endblock %}
{% block content_title %}<h2>{% trans "A sua sessão foi desligada" %}.</h2>{% endblock %}

{% block content %}
<p>{% trans "A sua sessão foi desligada. Esperemos ver-te em breve!" %}</p>
{% endblock %}
