{% extends "base.html" %}
{% load i18n %}

{% block content_title %}<h2>{% trans "Página não encontrada" %}</h2>{% endblock %}

{% block content %}
<p>{% trans "Foi impossível encontrar a página."%}</p>
<p>{% trans "Se o erro persistir, contacte a informativa@aaue.pt." %}</p>
{% endblock %}
