{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{% block title %}Gestor de Eventos AAUE{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Gestor de Eventos AAUE" />
    <meta name="keywords" content="AAUE, eventos, contas, estudantes" />
    <meta name="author" content="AAUE" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/master.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/promo.css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  <body>
     {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    <!--<div id="top">
      

      <div id="lang_form">
        <form action="/i18n/setlang/" method="post" id="locale_switcher">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.path }}" />
          <label>{% trans 'Choose language' %}:</label>
          <select name="language" onchange="$('#locale_switcher').submit()">
            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if request.LANGUAGE_CODE == lang.0 %}selected{% endif %}>{{ lang.1 }}</option>
            {% endfor %}
          </select>
          <noscript>
            <input type="submit" value="{% trans "Change language" %}" />
          </noscript>
        </form>
      </div>-->
    </div>
    <div id="container">	
      <div id="header">

        <h1><a href="{% url promo %}">Gestor de Eventos AAUE</a></h1>

        {% block nav %}
        <ul id="nav">
          <li><a href="{% url promo %}"><span>{% trans 'In&#237;cio' %}</span></a></li>
          {% if user.is_authenticated %}
          <li><a href="/events"><span>{% trans 'Eventos' %}</span></a></li>
          <li><a href="{% url userena_profile_list %}"><span>{% trans 'Perfis' %}</span></a></li>
          <li><a href="{% url userena_umessages_list %}"><span>{% trans 'Mensagens' %}</span></a></li>
          <li><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'O meu perfil' %}<!-- ({{ user.username }})--></span></a></li>
          <li><a href="{% url userena_signout %}"><span>{% trans 'Sair' %}</span></a></li>
          {% else %}
          <li><a href="{% url userena_signin %}"><span>{% trans 'Entrar' %}</span></a></li>
          <li><a href="{% url userena_signup %}"><span>{% trans 'Registar' %}</span></a></li>
          {% endif %}
        </ul>
        {% endblock %}
        {% if not user.is_authenticated %}
        {% endif %}

      </div><!-- /header
      <a href="https://github.com/bread-and-pepper/django-userena/" id="fork">{% trans 'Fork me hard' %}</a>-->
      {% block content_title %}{% endblock %}
      <div id="content-container">
        {% block content %}{% endblock %}
      </div><!-- /content-container-->
      <div id="footer"><p>{% trans 'Arduamente criado por' %} <a href="http://aaue.pt" target="_blank"> Associa&#231;&#227;o Acad&#233;mica da Universidade de &#201;vora</a>.</p></div>
    </div><!-- /container-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8888610-14']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </body>
 </html>
