<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>pdf</title>
      <meta name="author" content="joao ascenso" />
      <div id="navcontainer">
         {{ user }}
         <ul id="navlist">
         <li id="active"><a href="#" id="current">Item one</a></li>
         <li><a href="#">Item two</a></li>
         <li><a href="#">Item three</a></li>
         <li><a href="#">Item four</a></li>
         <li><a href="#">Item five</a></li>
         </ul>
         </div>
   </head>
   <body></body>
</html>
