{% extends "admin/change_form.html" %}
{% block extrastyle %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}
{% block content %}
<h1>{{ activity.name }}</h1>
<p class="help">{{ activity.start_date }} e termina {{ activity.end_date }}</p>
</BR>
<div id="content-main">
<b>Numero de Inscritos: {{ users|length }}</b>
{% csrf_token %}
{% for user in users %}
  <div class="form-row required">
      <p><b>{{ user.0|upper }}</b> -  {{ user.0.first_name }} {{ user.0.last_name }} {{ user.0.email }}</p>
      {% if user.1|length > 1 %}
         {% for i in user.1 %}
         <li><b>{{ i.0 }}:</b> 
            {% if i.1 == "False" %}
            Não
            {% else %} {% if i.1 == "True" %}
            Sim
            {% else %}
            {{ i.1 }}
            {% endif %}{% endif %}
            </li>
         {% endfor %}
      {% endif %}
  </div>
{% endfor %}
</form>
</div>
{% endblock %}
