{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2 class="content-title">{% trans 'Atividades' %}</h2>{% endblock %}

{% block content %}
{% for activity in object_list %}
<ul id="activity_list" class="activity">
	<li>
		<div id="activity-name">
			{{ activity.name }}
		</div>
		<div id="activity-date">
			{{ activity.start_date|date:"d" }} de {{ activity.start_date|date:"F" }} a {{ activity.end_date|date:"d" }} de {{ activity.end_date|date:"F" }}
		</div>
		{% if activity.is_open %}
   		{% if activity.get_number_of_open_slots > -1 %}
   		{% if activity.get_number_of_open_slots < 1 %}
   		<div class="activity-status">
   			{% trans "Actividade lotada" %}
   		</div>
   		{% else %}
   		<div class="activity-status">{{ activity.get_number_of_open_slots }} 
   		{% trans "vagas disponíveis" %}</div>
   		{% endif %}
   		{% else %}
   		<div class="activity-status">
   			{% trans "Inscrições abertas" %}
   		</div>
   		{% endif %} <!--<p class="activity">{{ activity.description }}</p>-->
		{% else %}
		<div class="activity-status">
            {% trans "Inscrições fechadas" %}
         </div>
		{% endif %}
		<div id="inscrever">
			<a href={{ activity.id }}>{% trans "Detalhes" %}</a>
		</div>
		<!--{% if activity.url %}
		<p id="event-website">website: <a href={{ event.url }}>{{ activity.url }}</a></p>
		{% else %}
		<p id="activity">website: <a href={{ event.url }}>{{ activity.url }}</a></p>
		{% endif %}-->
	</li>
</ul>
{% empty %}
<li>
	{% trans 'De momento não existem actividades para este evento!' %}
</li>
{% endfor %}

{% if is_paginated %}
<div class="pagination">
	<span class="step-links"> {% if page_obj.has_previous %} <a href="?page={{ page_obj.previous_page_number }}">{% trans 'anterior' %}</a> {% endif %} <span class="current"> {% trans 'Página' %} {{ page_obj.number }} {% trans 'de' %} {{ page_obj.paginator.num_pages }}. </span> {% if page_obj.has_next %} <a href="?page={{  page_obj.next_page_number }}">{% trans 'próximo' %}</a> {% endif %} </span>
</div>
{% endif %}
{% endblock %} 
