{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{{ activity.name }}{% endblock %}

{% block content_title %}<h2 class="content-title">{{ event.name }}</h2>{% endblock %}

{% block content %}
<ul id="profile-nav" style="width:auto;">
	{% if update %}
	<li class="selected">
		<a href="{% url activity_enroll event.id activity.id%}">{% trans "Atualizar" %}</a>
	</li>
	{% else %}
	<li class="selected">
		<a href="{% url activity_enroll event.id activity.id%}">{% trans "Inscrever" %}</a>
	</li>
	{% endif %}
	<li>
		<a href="{% url activity_details event.id activity.id%}">{% trans "Detalhes" %}</a>
	</li>
	{% if update and activity.public%}
	<li>
		<a href="{% url activity_participant_list event.id activity.id%}">{% trans "Listar incritos" %}</a>
	</li>
	{% endif %}
</ul>
{% if activity.get_number_of_open_slots == 0 and not update %}
<legend>
	{% trans "As incrições para este evento encontram-se fechadas" %}
</legend>
{% else %}
<form action="" enctype="multipart/form-data" method="post" id="activity-register-form">
	{% csrf_token %}
	<div id="activity-register-title">
		{{ activity.name }}
	</div>
	{% for field in form %}  
	<table class="tlb_activity_fields_wrapper" cellpadding="0" cellspacing="0">
	  <tr>
	    <td class="af-label">{{ field.label_tag }}:</td>
	    <td class="af-txt">{{ field }}</td>
	  </tr>
	  <tr>
	    <td class="af-help" collspan="2">{{ field.help_text }}</td>
	  </tr>
	  <tr>
	    <td class="af-error" collspan="2">{{ field.errors }}</td>
	  </tr>
	</table>
	{% endfor %}
	{% if update %}
	<div class="submit-button-desinscrever">
		<a href="{% url unregister_activity event.id activity.id %}">{% trans "Desinscrever" %}</a>	
	</div>
	{% endif %}
	{% if update %}
	<div class="submit_button-align">
	  <input class="submit-button" type="submit" value="{% trans "Atualizar" %}" />	
	</div>
	{% else %}
	<div class="submit_button-align">
	  <input class="submit-button" type="submit" value="{% trans "Registar" %}" />
	</div>
	{% endif %}
</form>
</div>
{% endif %}
{% endblock %} 
