{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load easy_maps_tags cache%}

{% block title %}{{ activity.name }}{% endblock %}

{% block content_title %}<h2 class="content-title">{{ event.name }}</h2>{% endblock %}

{% block content %}
<ul id="profile-nav" style="width:auto">
	{% if activity.is_open and activity.get_number_of_open_slots != 0 or update %}
	{% if update %}
	<li>
		<a href="{% url activity_enroll event.id activity.id%}">{% trans "Atualizar" %}</a>
	</li>
	{% else %}
	<li>
		<a href="{% url activity_enroll event.id activity.id%}">{% trans "Inscrever" %}</a>
	</li>
	{% endif %}
	{% endif %}
	<li class="selected">
		<a href="{% url activity_details event.id activity.id%}">{% trans "Detalhes" %}</a>
	</li>
	{% if update and activity.public%}
	<li>
		<a href="{% url activity_participant_list event.id activity.id%}">{% trans "Listar incritos" %}</a>
	</li>
	{% endif %}
</ul>
<form action="" enctype="multipart/form-data" method="post" id="activity-details-form">
	<div id="activity-details-title">
		{{ activity.name }}
	</div>
	<div id="activity-details-content">
		<p>
			<b>{% trans "De" %} {{ activity.start_date }} {% trans "a" %} {{ activity.end_date }}</b>
		</p>
		<p>
			<b>{% trans "Local: " %}</b> {{ activity.fine_location }}
		</p>
		{% if activity.get_number_of_open_slots < 0 %}
		<p>
			<b>{% trans "Sem limite de vagas disponíveis" %}</b>
		</p>
		{% else %}
		<p>
			<b>{% trans "Vagas disponíveis: " %}</b> {{ activity.get_number_of_open_slots }}
		</p>
		{% endif %}
		<fieldset>
			<p style="border: none; text-align: justify; margin-bottom: -12px; border-bottom: 1px solid #e7e2de;">
				{{ activity.description }}
			</p>
			{% if extra_info %}
			{% for extra in extra_info %}
			<li style="list-style: none;">
				<p style="margin: 12px 10px -8px 5px; padding: 0px 0 0 5px;">
					<b>-</b>&nbsp;{{ extra }}
				</p>
			</li>
			{% endfor %}
			{% endif %}
		</fieldset>
	</div>
	{% if files %}
	{% for file in files %}
	<p>
		<a href="{{ doc_url }}{{ file.filename }}" target="_blank">{{ file.title }}</a> - {{file.description}}
	</p>
	{% endfor %}
	{% endif %}

	{% if activity.map_location %}
	{% cache 600000 activity.name activity.map_location %}
	{% easy_map activity.map_location 500 300 %}
	{% endcache %}
	{% endif %}

	{% if activity.url %} <p><a id="activity_link" href="{{ activity.url }}" target="_blank"><p>{% trans "Página Web" %}</p></a></p>
	{% endif %}
</form>
{% endblock %} 
