{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{{ activity.name }}{% endblock %}

{% block content_title %}<h2 class="content-title">{{ event.name }}</h2>{% endblock %}

{% block content %}

<ul id="profile-nav" style="width:auto">
        {% if activity.get_number_of_open_slots != 0 or update %}
           {% if update %}
           <li><a href="{% url activity_enroll event.id activity.id%}">{% trans "Atualizar" %}</a></li>
           {% else %}
           <li><a href="{% url activity_enroll event.id activity.id%}">{% trans "Inscrever" %}</a></li>
           {% endif %}
        {% endif %}
        <li><a href="{% url activity_details event.id activity.id%}">{% trans "Detalhes" %}</a></li>
        {% if update and activity.public%}
        <li class="selected"><a href="{% url activity_participant_list event.id activity.id%}">{% trans "Listar inscritos" %}</a></li>
        {% endif %}
</ul>


<form action="" enctype="multipart/form-data" method="post">
  <fieldset>
     {% csrf_token %}
     <legend>{{ activity.name }}</legend>
     {% for participant in participant_list %}
            {% if participant.1 %}
               <li><a href="{% url userena_profile_detail participant.1 %}">{{ participant.0 }}</a></li>
            {% else %}
               <li> {{ participant.0 }} </li>
            {% endif %}
     {% endfor %}
  </fieldset>
</form>


{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'anterior' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Página' %} {{ page_obj.number }} {% trans 'de' %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{  page_obj.next_page_number }}">{% trans 'próximo' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
