{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2 class="content-title">{% trans 'Eventos' %}</h2>{% endblock %}

{% block content %}
<ul id="event_list">
	{% for event in object_list %}
	<div id="event-list">
		{% if event.logo %} <div id="event-logo" style="background-image:url('{{ MEDIA_URL }}{{ event.get_logo }}');"></div>
		{% else %}
		nao ha logo
		{% endif %}
		<div id="event-name">
			<a href={{ event.pk }}>{{ event.name }}</a>
		</div>
		<div id="event-date">
			{{ event.start_date|date:"d" }} de {{ event.start_date|date:"F" }} a {{ event.end_date|date:"d" }} de {{ event.end_date|date:"F" }}
		</div>
		<p class="event-list">
			{{ event.description }}
		</p>
		<div id="event-go-web">
			<p id="event-go">
				<a href={{ event.pk }}>Ir para evento</a>
			</p>
			<p id="event-website">
				website: <a href={{ event.url }} target="_blank">{{ event.url }}</a>
			</p>
		</div>
	</div>
	</br>
	{% empty %}
	<li>
		{% trans 'De momento não existem eventos!' %}
	</li>
	{% endfor %}
</ul>
{% if is_paginated %}
<div class="pagination">
	<span class="step-links"> {% if page_obj.has_previous %} <a href="?page={{ page_obj.previous_page_number }}">{% trans 'anterior' %}</a> {% endif %} <span class="current"> {% trans 'Página' %} {{ page_obj.number }} {% trans 'de' %} {{ page_obj.paginator.num_pages }}. </span> {% if page_obj.has_next %} <a href="?page={{  page_obj.next_page_number }}">{% trans 'próximo' %}</a> {% endif %} </span>
</div>
{% endif %}
{% endblock %} 