{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2 class="content-title">Account &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block content %}


  <ul id="profile-nav">
      <li><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %}</a></li>
      <li class="selected"><a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %}</a></li>
      <!--<li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
      <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>-->
  </ul>


   <form action="" enctype="multipart/form-data" method="post">
       {% if user.username == account.user.username %}
          <ul id="box-nav">
              <li class="first"><a href="{% url userena_detail user.username %}"><span>{% trans 'View profile' %}</span></a></li>
              <li class="selected"><a href="{% url userena_edit account.user.username %}">{% trans "Edit profile" %}</a></li>
              <li><a href="{% url userena_password_change account.user.username %}">{% trans "Change password" %}</a></li>
              <li class="last"><a href="{% url userena_email_change account.user.username %}">{% trans "Change email" %}</a></li>
          </ul>
          {% endif %}
       {% csrf_token %}
        <fieldset>
        <legend>{% trans "Edit Profile" %}</legend>
        {{ form.as_p }}
        </fieldset>
    <div id="change-email" class="redirect"><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></div>
    <div id="change-password" class="redirect"><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></div>
        <input type="submit" value="{% trans "Save changes" %}" />
    </form>
{% endblock %}
